[run]
source = rethinkdb
branch = True
omit = *tests*
       *__init__*
       rethinkdb/ql2_pb2.py

[report]
sort = cover
fail_under = 72
exclude_lines = pragma: no cover
                if __name__ == .__main__.:
