[run]
source = rethinkdb
branch = True
omit = *tests*
       *__init__*
       rethinkdb/ql2_pb2.py
       rethinkdb/cli/main.py
       rethinkdb/cli/_export.py
       rethinkdb/cli/_index_rebuild.py
       rethinkdb/cli/_restore.py
       rethinkdb/cli/_dump.py
       rethinkdb/cli/_import.py
       rethinkdb/cli/_repl.py
       rethinkdb/cli/utils.py

[report]
sort = cover
fail_under = 60
exclude_lines = pragma: no cover
                if __name__ == .__main__.:
